.nav-list{
    display:inline-block;
    color:white ;
    padding:3px ;
    border: white 3px;


}
#header-color{
    background-color:black ;
    border: black 4px;
    padding: 3px;
    margin: 8px;
    color: white;
}
#main-style{
    background-color:gray;
    color: whitesmoke;
}
#footer-style{
    background-color:black;
    color: white;
}
#email{
    font-style: italic;
}
#phoneNum{ 
    font-style: italic;
}